@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

body{
  padding: 0 73px;
  background-color: white;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

 

}